*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    min-height: 100%;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background: white;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: white;
    font-weight: 400;
    margin-left: 40px;
    text-decoration:none;
    
}
header ul li a:hover{
    color: black;
    transform: translateY(-10px);
    font-weight: 600;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBox{
    position: relative;
    max-width: 500px;
}
.textBox h2{
    color: black;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 500;
}
.textBox h2 span{
    color: rgb(1, 54, 1);
    font-size: 1.3em;
    font-weight: 800;
}
.textBox p{
    color: black;
}
.textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: olivedrab;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    
}


.imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.imgBox img{
    max-width: 350px;
    cursor: pointer;
}
.imgBox img:hover{
    transform: translateY(-20px);
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: o.6s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 71, 21, 0.959);
    height: 100%;
    clip-path: circle(600px at right);
}